<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Webexecuter Dashboard</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
            rel="stylesheet">
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="coll">#</th>
                    <th scope="col">Task</th>
                    <th scope="col"></th>
                    <th scope="col">Last Run</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Water Bill</td>
                    <td>
                        <form th:action="@{/dashboard}" th:method="post">
                            <input type="submit" value="Execute"/>
                            <input type="hidden" name="name" th:value="waterBill"/>
                        </form>
                    </td>
                    <td><span th:text="${waterBillLastRun}" /></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Gas Bill</td>
                    <td>
                        <form th:action="@{/dashboard}" th:method="post">
                            <input type="submit" value="Execute"/>
                            <input type="hidden" name="name" th:value="gasBill"/>
                        </form>
                    </td>
                    <td><span th:text="${gasBillLastRun}" /></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Electric Bill</td>
                    <td>
                        <form th:action="@{/dashboard}" th:method="post">
                            <input type="submit" value="Execute"/>
                            <input type="hidden" name="name" th:value="electricBill"/>
                        </form>
                    </td>
                    <td><span th:text="${electricBillLastRun}" /></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Cable Bill</td>
                    <td>
                        <form th:action="@{/dashboard}" th:method="post">
                            <input type="submit" value="Execute"/>
                            <input type="hidden" name="name" th:value="cableBill"/>
                        </form>
                    </td>
                    <td><span th:text="${cableBillLastRun}" /></td>
                </tr>
            </tbody>
        </table>
        <br />
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
    </body>
</html>